@page
@model EcommerceApp.Pages.IndexModel


@if (Model.UserInfo != null)
{
    <h1 class="display-1">Hello @Model.UserInfo.Username, You Gamer You!</h1>
}
else
{
    <h1 class="display-4 fw-normal">Welcome to the Retro Video Game Shoppe!</h1>
}
<p class="lead fw-normal">We are chocked full of amazing games 20 years and older for your all your nostalgia needs!></p>
@if (Model.UserInfo != null)
{
<p class="lead fw-normal">Welcome Back! We are glad you are here! See what new inventory we may have!></p>
}
else
{    
    <p class="lead fw-normal">Please Sign In/Register to Continues</p>
    <p class="lead fw-normal"><a href="/Login">Login</a></p>
    <p class="lead fw-normal"><a href="/Register">Register Here</a></p>
}


