/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* styles for validation helpers */
/*.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}*/

My old stuff
h1 {
    font-size: 32px;
}
h2{
    font-size: 24px;
    color:green;
}
input{
    display: inline-block;
    color: purple;
}
.navbar{
    background: black;
}
.navbar-items > li{
    display: inline-block;
    text-decoration: none;
    color: red;
}
.navbar-items a{
    text-decoration:none;
    color: blue;
}
table, th, td {
    border: 1px solid black;
    text-align:center;
}