<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Retro Game Shop</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <header><h1>Retro Game Shop</h1></header>
    <main>
        <div>
            @RenderBody()
        </div>
    </main>
    <footer>
        &copy; 2021 Get This Proj Complete Industries
    </footer>
</body>



</html>
