@page
@model EcommerceApp.Pages.IndexModel


@if (Model.UserInfo != null)
{
    <h1>Hello @Model.UserInfo.Username, You Gamer You!</h1>
}
else
{
    <h1>Welcome to the Retro Game Shoppe!</h1>
}
<h2>Buy some awesome games</h2>
<h3>Please Sign In/Register to Continue</h3>
<p>Login Form will go here.</p>
<p><a href="/Login">Login</a></p>
<p><a href="/Register">Register Here</a></p>
<p>From The Parital</p>

