@model EcommerceApp.Models.Cart
<!-->Nav Bar <-->
<p><a href="/Home/Index">Home</a></p>
<p><a href="/Home/Checkout">Checkout</a></p>
<p><a href="/Home/Shop">Shop</a></p>

<h1>Username's Cart</h1>

<p>Cart Details Go Here</p>

<ul>
    <li>Game1 Quantity Price</li>
    <li>Game2 Quantity Price</li>
    <li>Game3 Quantity Price</li>
    <li>Game4 Quantity Price</li>
    <li>Game5 Quantity Price</li>
    <li>Game6 Quantity Price</li>
</ul>
<p>Quantity Total</p>
<p>Price Total</p>

<a href="/Home/Checkout">Checkout</a>


