@model EcommerceApp.Models.Cart
<!-->Nav Bar <-->
<p><a href="/Home/Index">Home</a></p>
<p><a href="/Home/Checkout">Checkout</a></p>
<p><a href="/Home/Shop">Shop</a></p>

<h1>Username's Cart</h1>

<p>Cart Details Go Here</p>

<ul>
@foreach (var game in Model.Games)
{
    <li>
        <div>Name: @game.Name</div>
        <div>Price: @game.ItemPrice</div>
    </li>
}
</ul>
<p>Quantity Total: @Model.QuantityTotal</p>
<p>Price Total: 130.00</p>

<a href="/Home/Checkout">Checkout</a>


