<!-->Nav Bar <-->
<p><a href="/Home/Index">Home</a></p>
<p><a href="/Home/Checkout">Checkout</a></p>
<p><a href="/Home/Shop">Shop</a></p>

<h1>Category Details</h1>

<h2>Category Name</h2>
<ul>
    <li><a href="/Home/GameDetail">Game1</a></li>
    <li><a href="/Home/GameDetail">Game2</a></li>
    <li><a href="/Home/GameDetail">Game3</a></li>
    <li><a href="/Home/GameDetail">Game4</a></li>
    <li><a href="/Home/GameDetail">Game5</a></li>
</ul>

<!--> add editable dropdown forms to modify or delete category AND view all of the associated games</!-->
