<!-->Nav Bar <-->
<p><a href="/Home/Index">Home</a></p>
<p><a href="/Home/Shop">Shop</a></p>

<h1>Checkout Page</h1>

<ul>
    <li>Game1 Quantity Price</li>
    <li>Game2 Quantity Price</li>
    <li>Game3 Quantity Price</li>
    <li>Game4 Quantity Price</li>
    <li>Game5 Quantity Price</li>
    <li>Game6 Quantity Price</li>
</ul>
<p>Quantity Total</p>
<p>Price Total</p>

<p>Enter Payment Information (CC, Name, Address, CVV, etc...</p>

<p><a href="/Home/Receipt">Receipt for Purchase</a></p>


<!-- User will checkout and pay for their cart on this page  -->