@model EcommerceApp.Models.Game
   
 <partial name="_NavBar.cshtml" />

<h1>Game Details</h1>
<ul>
    <li>@Model.Name </li>
    <li>@Model.GenreGame.Genre.GenreName</li>
    <li>@Model.Description</li>
    <li>@Model.ItemPrice</li>
    
</ul>
<a href="/Home/Cart">Add To Cart</a>


    <!--> add ability to modify or delete game data </!-->
