<!-->Nav Bar <-->
<p><a href="/Home/Index">Home</a></p>
<p><a href="/Home/Cart">Cart</a></p>
<p><a href="/Home/Checkout">Checkout</a></p>

<h1>Game Details</h1>
<ul>
    <li>Name</li>
    <li>Genre</li>
    <li>Description</li>
    <li>ItemPrice</li>
    <li>System</li>
</ul>
<a href="/Home/Cart">Add To Cart</a>


<!--> add ability to modify or delete game data </!-->
