@model EcommerceApp.Models.User
<p><a href="/Home/Index">Home</a></p>
<p><a href="/Home/Cart">Cart</a></p>


<h1>Hello @Model.FirstName, You Gamer You</h1>

<h2>Buy some awesome games</h2>

<p>Login Form will go here.</p>
<p><a href="/Home/Login">Login</a></p>


<p><a href="/Home/Register">Register Here</a></p>
<!--<p><a href="/Home/Game">Games</a></p>-->
