@model EcommerceApp.Models.User 
<!-->Nav Bar <-->
<p><a href="/Home/Index">Home</a></p>
<p><a href="/Home/Shop">Shop</a></p>

<h1>Login Here</h1>

<ul>
    <li>UserName: @Model.FirstName</li>
    <li>Password: @Model.Password</li>
</ul>
<p><a href="/Home/Shop">Shop</a></p>
<!--> add login form </!-->