@model EcommerceApp.Models.User
    <partial name="_NavBar.cshtml" />


    <h1>Login Here</h1>

    <form method="post" action="/login/authenticate">
        <div><input type="text" name="username" placeholder="Username" /></div>
        <div><input type="password" name="password" placeholder="Password" /></div>
        <div><input type="submit" value="Sign In" /></div>
    </form>
    <p><a href="/Home/Shop">Shop</a></p>
    <!--> add login form </!-->