@model EcommerceApp.Models.User
<!-->Nav Bar <-->
<p><a href="/Home/Index">Home</a></p>
<p><a href="/Home/Checkout">Checkout</a></p>
<p><a href="/Home/Shop">Shop</a></p>

<h1>Purchase Confirmation</h1>

<p>Thank You @Model.FirstName For Your Purchase!</p>

<p>A confirmation Email has been sent to: @Model.Email</p>
<p>Thank's for your purchase y'all!</p>

<!-- User can view their receipt and be notified of email purchase confirmation-->
