<!-->Nav Bar <-->
<p><a href="/Home/Index">Home</a></p>
<p><a href="/Home/Checkout">Checkout</a></p>
<p><a href="/Home/Shop">Shop</a></p>


<h1>Purchase Confirmation</h1>
<!-- User can view their receipt and be notified of email purchase confirmation-->
