@model EcommerceApp.Models.User
<h1>Register Here!</h1>

<!--> add registration form </!-->
<ul>
    <li>UserName</li>
    <li>FirstName</li>
    <li>LastName</li>
    <li>Password</li>
    <li>Email</li>
</ul>
<a href="/Home/Index">Home</a>



