@model EcommerceApp.Models.Vm.ShopVm 
<!-->Nav Bar <-->
<p><a href="/Home/Index">Home</a></p>
<p><a href="/Home/Cart">Cart</a></p>
<p><a href="/Home/Checkout">Checkout</a></p>


<h1>
    Shop for Games
</h1>

<h2>Select a Category to Start</h2>
<!--> add dropdown menu for user to sort by system or genre </!-->

<a href="/Home/CategoryDetail">Category Detail Page</a>
<a href="/Home/Game">Search by Game Name</a>
<a href="/Home/Index">Home</a>
