@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService AuthorizationService



    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/Index">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/Shop">Shop</a></li>
        <li class="nav-item"><a class="nav-link" href="/Login">Login</a></li>
        @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item"><a class="nav-link" href="/Logout">Logout</a></li>
        }
        @if ((await AuthorizationService.AuthorizeAsync(User, "update")).Succeeded)
        {
            <li class="nav-item"><a class="nav-link" href="/Admin/">Admin</a></li>
        }
        <li class="nav-item"> @await Component.InvokeAsync("CartNavButton") </li>
    </ul>
