<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Retro Game Shop</title>
</head>
<header><h1>Retro Game Shop</h1></header>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
