@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<nav id="navbar">
    <ul class="navbar-items">
        <li><a href="/Home/Index">Home</a></li>
        <li><a href="/Home/Shop">Shop</a></li>
        <li><a href="/Home/Login">Login</a></li>
        <li><a href="/Home/Logout">Logout</a></li>

        @if ((await AuthorizationService.AuthorizeAsync(User, "update")).Succeeded)
        {
            <li><a href="/admin">AdminDash</a></li>
        }

        <li><button>CART</button></li>
    </ulclass="navbar">
</nav>