@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<nav id="navbar">    
    <ul class="navbar-items">
        <li class="nav-link"><a href="/Home/Index">Hme</a></li>
        <li class="nav-link"><a href="/Shop">Sp</a></li>
        <li class="nav-link"><a href="/Login">Login</a></li>
        <li class="nav-link"><a href="/Home/Logout">Logout</a></li>

        @if ((await AuthorizationService.AuthorizeAsync(User, "update")).Succeeded)
        {
            <li><a href="/Admin/">Admin</a></li>
        }
        <li><button>CART</button></li>
    </ul>
</nav>