@page
@model EcommerceApp.Pages.Register.IndexModel
    @*<partial name="../../Views/Shared/_NavBar.cshtml" />*@
    <h1>Register Here</h1>

    <form method="post">
        <div>
            <label asp-for="RegisterUser.Username">User Name</label>
            <input asp-for="RegisterUser.Username" placeholder="Username" />
        </div>
        <div>
            <label asp-for="RegisterUser.Password">Password</label>
            <input type="password" asp-for="RegisterUser.Password" placeholder="Password" />
        </div>
        <div>
            <label asp-for="RegisterUser.Email">Enter Email Address</label>
            <input asp-for="RegisterUser.Email" placeholder="Email" />
        </div>        
        <button type="submit">Register</button>
    </form>
    