@model EcommerceApp.Models.Cart

@*<form class="d-flex" method="post">
    <a class=""href="/CartView">Cart(@Model.CartGames.Count)</a>
</form>*@


<form class="d-flex" method="post" asp-action="ToCartView">   
    <button class="btn btn-outline-success" type="submit">Cart(@Model.CartGames.Count)</button>
</form>