@model EcommerceApp.Models.Vm.AdminVm
<span>Title</span>
<input asp-for="@Model.Game.Name" />
<span>Description</span>
<input asp-for="@Model.Game.Description" />
<span>Price</span>
<input asp-for="@Model.Game.ItemPrice" />
<span>Game System</span>
<input asp-for="@Model.Game.GameSystem" />
<p>Place Holder For Genre Drop Down</p>

<button type="submit">Click To Update</button>